{% extends 'blog/base.html' %}
{% block content %}
<h1>About Page</h1>
<p>Best described as a technology executive, with over 20 years of professional experiences managing Technology and
	Software Development ranging from start-ups to multinational enterprises. Previously, he was the Director of
	Technology for Meredith Corporation where he both coded and lead a team of 20+ engineers through the process of
	building a modernized content creation studio. That product, code name OneCMS, provided over 800+ professional
	writers with the tools to create content which attracted 180 million visitors per month to digital properties like
	AllRecipes.com and People.com. He also has a broad business background including sales, insurance, franchising, and
	he has navigated through 6 M&amp;A deals including the sale of FanSided Inc to Sports Illustrated, A Time Inc
	company. Seth holds a Bachelor of Science degree in Computer Information Systems and Associates degree in
	Communications, graduating with Cum Lade honors from the WP Carey School of Business at Arizona State University.
</p>

<p>Experience:<br>Full scale enterprise technology cloud solutions and microservices around Content Management Systems.
	I currently manage engineering and development teams, train them on software development standards and architect CI
	/ CD pipelines. I recruit and train junior developers into senior developers. I understand, architect solutions, and
	help manage all aspects of technology for our teams including enterprise hosting, tech support, SaaS relationships
	and products, all 3rd party API's, and continuous business strategy with company leadership.</p>
<p>Management (8+ years), Training (9+ years), AWS (5+ years), JIRA (5+ Years), HTML &amp; HTML5 (20+ years), CSS &amp;
	CSS3 (18+ Years) , PHP (14+ Years), JavaScript &amp; jQuery (12+ Years), JSON &amp; XML (5+ years), REST / SOAP (8+
	Years).</p>
<p>Specialties: AWS, Management, Leadership, Enterprise, WordPress, technology, management, scrum, kanban, agile,
	training, recruiting, team culture, technical documentation, Product Management, Project Management, digital
	transformation, data migration, PHP, API, websites, applications, marketing, sales, budgeting, ROI, branding, KPIs
	&amp; entrepreneurship.</p>
<p>Goals: Managing technology teams and assets, in a scalable fast growth environments. Increasing team productivity
	through leadership, motivation and company culture. Contributing to the company's revenues by reducing technology
	overhead, cutting out unneeded technologies, embracing better workflows, and building new and efficient technologies
	that scale.</p>
{% endblock content %}